p {
    margin: 0;
    padding: 0;
}

.page-title p {
    color: rgba(43, 42, 56, 0.7);
    font-weight: 300;
    font-size: 2rem
}

.page-title small {
    color: #E86105
}

.submit-profile {
    width: 100%;
}

.submit-profile button {
    background: rgba(43, 42, 56, 1);
    color: #ffffff;
}

#shop-logo {
    width: 100px;
    height: 100px;
    border-radius: 5px 5px 0px 0px;
    object-fit: cover;
}

#update_logo_button {
    color: rgba(43, 42, 56, 1);
    background: #ffffff;
}


/* .shop-profile-field {} */

@media (min-width:768px) {
    mat-form-field {
        width: 400px;
    }
    #shop-logo {
        width: 200px;
        height: 200px;
    }
}

:host ::ng-deep .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar {
    background-color: rgba(43, 42, 56, 1);
}

:host ::ng-deep .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb {
    background-color: rgba(43, 42, 56, 1);
}