<div>
    <div class="page-title">
        <p>Shop Profile</p>
        <small>Update your shop details here</small>
    </div>
    <form class="mt-2 pe-md-5" [formGroup]="profileForm">
        <div class="d-flex justify-content-between shop-profile-field">
            <div class="form-labels">
                <p>Name</p>
                <small>Name of your shop</small>
            </div>
            <div>
                <mat-form-field appearance="outline">
                    <input matInput formControlName="name">
                </mat-form-field>
            </div>
        </div>
        <div class="d-flex justify-content-between shop-profile-field">
            <div class="form-labels">
                <p>Bio</p>
            </div>
            <div>
                <mat-form-field appearance="outline">
                    <textarea matInput formControlName="bio"></textarea>
                </mat-form-field>
            </div>
        </div>
        <div class="d-flex justify-content-between shop-profile-field">
            <div class="form-labels">
                <p>Phone Contact</p>
                <small>Will be used to contact you</small>
            </div>
            <div>
                <mat-form-field appearance="outline">
                    <input matInput formControlName="phone_contact">
                </mat-form-field>
            </div>
        </div>
        <div class="d-flex justify-content-between shop-profile-field">
            <div class="form-labels">
                <p>Email Contact</p>
                <small>Will be used to contact you</small>
            </div>
            <div>
                <mat-form-field appearance="outline">
                    <input type="email" matInput formControlName="email_contact">
                </mat-form-field>
            </div>
        </div>
        <div class="d-flex justify-content-between shop-profile-field">
            <div class="form-labels">
                <p>Logo</p>
                <small>Will be displayed on your shop page</small>
            </div>
            <div class="d-flex align-items-center" style="height:fit-content">
                <div class="me-3 me-md-5">
                    <img src="../../../../assets/andrew-pons-cLHPacdtpSY-unsplash (1).jpg" alt="shop-logo" id="shop-logo">
                </div>
                <div>
                    <button mat-raised-button id="update_logo_button" (click)="enterImage()">Update</button>
                </div>
            </div>
        </div>
        <div class="d-flex mt-md-3 justify-content-between shop-profile-field">
            <div class="form-labels">
                <p>Pickup Location</p>
                <small>Where your products will be picked up</small>
            </div>
            <div>
                <mat-form-field appearance="outline">
                    <input matInput formControlName="pickup_location">
                </mat-form-field>
            </div>
        </div>
        <div class="d-flex justify-content-end submit-profile">
            <button mat-raised-button>Save Changes</button>
        </div>
    </form>
</div>