<div>
    <div class="page-title">
        <p>Shop Profile</p>
        <small>Update your shop details here</small>
    </div>
    <form class="mt-2 pe-md-5" [formGroup]="profileForm" (ngSubmit)="submitForm()">
        <div class="d-flex justify-content-between shop-profile-field">
            <div class="form-labels">
                <p>Name</p>
                <small>Name of your shop</small>
            </div>
            <div>
                <mat-form-field appearance="outline">
                    <input matInput formControlName="name">
                </mat-form-field>
            </div>
        </div>
        <div class="d-flex justify-content-between shop-profile-field">
            <div class="form-labels">
                <p>Bio</p>
            </div>
            <div>
                <mat-form-field appearance="outline">
                    <textarea matInput formControlName="bio"></textarea>
                </mat-form-field>
            </div>
        </div>
        <div class="d-flex justify-content-between shop-profile-field">
            <div class="form-labels">
                <p>Phone Contact</p>
                <small>Will be used to contact you</small>
            </div>
            <div>
                <mat-form-field appearance="outline">
                    <span matPrefix>+254</span>
                    <mat-label>Phone Number</mat-label>
                    <input formControlName="phone_contact" matInput type="text" placeholder="eg. 7123..">
                    <mat-error *ngIf="!profileForm.value.phone_contact.valid">Please enter a correct phone number</mat-error>
                    <mat-hint>How people will reach you</mat-hint>
                </mat-form-field>
            </div>
        </div>
        <div class="d-flex justify-content-between shop-profile-field">
            <div class="form-labels">
                <p>Email Contact</p>
                <small>Will be used to contact you</small>
            </div>
            <div>
                <mat-form-field appearance="outline">
                    <input type="email" matInput formControlName="email_contact">
                </mat-form-field>
            </div>
        </div>
        <div class="d-flex justify-content-between shop-profile-field">
            <div class="form-labels">
                <p>Logo</p>
                <small>Will be displayed on your shop page</small>
            </div>
            <div class="d-flex align-items-center" style="height:fit-content">
                <div class="me-3 me-md-5">
                    <img [src]="url" alt="shop-logo" id="shop-logo">
                </div>
                <div>
                    <button mat-raised-button id="update_logo_button" (click)="enterImage()">Update</button>
                </div>
            </div>
        </div>
        <div class="d-flex mt-md-3 justify-content-between shop-profile-field" id="profile-location-field">
            <div class="form-labels">
                <p>Pickup Location</p>
                <small>Where your products will be picked up</small>
            </div>
            <div>
                <div>
                    <mat-form-field appearance="outline">
                        <input matInput formControlName="pickup_location" [readonly]="true">
                    </mat-form-field>
                </div>
                <div>
                    <div>
                        <ngx-mat-tree-select-input [options]="locations" [placeholder]="'Update Location'" [heading]="'Within'" [canSelectParentNode]="false" [controlName]="'pickup_location'">
                        </ngx-mat-tree-select-input>
                    </div>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-end submit-profile">
            <button mat-raised-button type="submit">Save Changes</button>
        </div>
    </form>
</div>