<div style="width:90vw;height:90vh;background-color:white" class="d-flex justify-content-center align-items-center p-2">
    <div class="shadow-lg p-4">
        <div style="width:100;text-align:center;">
            <h1><span style="color:#E86105">Forgot Password</span></h1>
        </div>
        <div>
            <p>Enter your <span style="color:#E86105">Shops Galore</span> email below and<br> check your email to receive instructions<br> on resetting your password.</p>
        </div>
        <form>
            <div class="m-3">
                <input class="form-control rounded-0" type="email" placeholder="Your e-mail goes here ...">
            </div>
            <div style="width:100;text-align:center" class="mt-2 mb-2">
                <button routerLink="../reset" class="btn proceed-email">Proceed</button>
            </div>
        </form>
    </div>
</div>