<div class="row container-fluid">
    <div class="role-choice col-md-8 col-lg-6">
        <p id="forgot">Forgot Password</p>
        <div class="hero-title row container-fluid">
            <div style="font-size:3vmin">
                <p>Enter your<span style="color:#E86105; font-weight:normal;"> Shops Galore </span> email below and
                    check your
                    email to receive instructions on resetting your password.
            </div>
            <div class="col-12 placeholder-icon">
                <img src="../../../../assets/Mail.svg" alt="" height="20px">
                <input type="email" class="form-control " placeholder="Your e-mail goes here ...">
            </div>
            <div class="mt-5 mb-5">
                <button routerLink="../reset" class="btn btn-register">PROCEED</button>
            </div>
        </div>
    </div>
</div>