<div class="d-flex justify-content-center align-items-center" style="height:70vh">
    <div>
        <div class="text-center mb-3">
            <p style="color:#e86105;font-size: 1.5em;">New Password</p>
        </div>
        <div class="text-center">
            <p>Enter your <span style="color: #e86105;">Shops Galore</span> email below and<br> check your email to receive instructions<br> on resetting your password.</p>
        </div>
        <div class="text-center mt-3">
            <form>
                <div>
                    <mat-form-field appearance="fill">
                        <mat-label>Email</mat-label>
                        <input matInput type="email" placeholder="Your e-mail goes here...">
                        <span matPrefix><mat-icon style="color:#e86105 ">mail</mat-icon></span>
                    </mat-form-field>
                </div>
                <div>
                    <button mat-raised-button style="background-color:#e86105;color:white;width: 100%;" matStepperNext>Proceed</button>
                </div>
            </form>
        </div>
    </div>
</div>