<div>
    <owl-carousel-o [options]="customOptions">
        <ng-container>
            <ng-template carouselSlide>
                <div class="shop-slider">
                    <img src="../../../../assets/andrew-pons-cLHPacdtpSY-unsplash (1).jpg" style="object-fit: cover;height:100%" alt="...">
                </div>
            </ng-template>
        </ng-container>
        <ng-container>
            <ng-template carouselSlide>
                <div class="shop-slider">
                    <img src="https://picsum.photos/200" style="object-fit: cover;height:100%" alt="...">
                </div>
            </ng-template>
        </ng-container>
        <ng-container>
            <ng-template carouselSlide>
                <div class="shop-slider">
                    <img src="https://picsum.photos/200" style="object-fit: cover;height:100%" alt="...">
                </div>
            </ng-template>
        </ng-container>
        <ng-container>
            <ng-template carouselSlide>
                <div class="shop-slider">
                    <img src="https://picsum.photos/200" style="object-fit: cover;height:100%" alt="...">
                </div>
            </ng-template>
        </ng-container>
        <ng-container>
            <ng-template carouselSlide>
                <div class="shop-slider">
                    <img src="https://picsum.photos/200" style="object-fit: cover;height:100%" alt="...">
                </div>
            </ng-template>
        </ng-container>
        <ng-container>
            <ng-template carouselSlide>
                <div class="shop-slider">
                    <img src="https://picsum.photos/200" style="object-fit: cover;height:100%" alt="...">
                </div>
            </ng-template>
        </ng-container>
        <ng-container>
            <ng-template carouselSlide>
                <div class="shop-slider">
                    <img src="https://picsum.photos/200" style="object-fit: cover;height:100%" alt="...">
                </div>
            </ng-template>
        </ng-container>
    </owl-carousel-o>
</div>