.means-image {
    width: 70px;
    height: 70px;
    object-fit: cover;
}

.means-name {
    font-size: 1.2rem;
    color: rgba(43, 42, 56, 1);
}

.means-details {
    font-size: 1rem;
    color: rgba(43, 42, 56, 1)
}

.view-means-button {
    background-color: rgba(43, 42, 56, 1);
    color: #ffffff;
}

.row {
    grid-auto-flow: column;
}

.means-info {
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
}

.means {
    margin-bottom: .5em;
}

@media (max-width: 600px) {
    .means-details {
        font-size: .8rem
    }
    .means-name {
        font-size: 1rem
    }
}