<div class="mt-3">
    <div class="means">
        <div *ngFor="let means of registeredMeans" class="row p-2">
            <div class="col-3">
                <div class="means-info">
                    <img *ngIf="means.image" src={{means.image}} alt="" class="means-image">
                    <img *ngIf="!means.image" src="../../../../../assets/image.webp" alt="" class="means-image">
                </div>
            </div>
            <div class="col-3">
                <div class="means-info">
                    <p class="means-name">
                        {{means.means.name}}
                    </p>
                </div>
            </div>
            <div class="col-3">
                <div class="means-info">
                    <p class="means-details">
                        Last order 12/12/1212
                    </p>
                </div>
            </div>
            <div class="col-3">
                <div class="means-info">
                    <button mat-raised-button class="view-means-button">View</button>
                </div>
            </div>
        </div>
    </div>
</div>