<div class="mt-3">
    <div class="means">
        <div class="row p-2">
            <div class="col-3">
                <div class="means-info">
                    <img src="../../../../../assets/andrew-pons-cLHPacdtpSY-unsplash.jpg" alt="" class="means-image">
                </div>
            </div>
            <div class="col-3">
                <div class="means-info">
                    <p class="means-name">
                        Truck
                    </p>
                </div>
            </div>
            <div class="col-3">
                <div class="means-info">
                    <p class="means-details">
                        Last order 12/12/1212
                    </p>
                </div>
            </div>
            <div class="col-3">
                <div class="means-info">
                    <button mat-raised-button class="view-means-button">View</button>
                </div>
            </div>
        </div>
    </div>
</div>