<div style="width:80vw;min-height:90vh" class="p-2 dashboard">
    <div class="d-flex justify-content-between">
        <div>
            <h6>Products</h6>
            <mat-form-field appearance="fill">
                <mat-label>Filter</mat-label>
                <mat-select>
                    <mat-option value="one">All</mat-option>
                    <mat-option value="two">Out Of Stock</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <button class="btn new-product" style="height:fit-content">New Product</button>
    </div>
    <div class="row mt-3">
        <div class="col-md-4 shop-card" routerLink="../shop" style="background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../../../../assets/andrew-pons-cLHPacdtpSY-unsplash.jpg');">
            <p style="font-size:larger;color: #E86105;">Crossaint</p>
            <p><span style="font-size: 10vmin;">50</span>Kes</p>
            <p>Status:<span style="color:#E86105" class="ms-1">Active</span></p>
            <small>Request Product Feature</small>
        </div>
    </div>
</div>