<div style="min-height:90vh" class="container-fluid pt-2">
    <div class="d-flex justify-content-between">
        <div>
            <h6>Products</h6>
        </div>
        <button mat-raised-button [routerLink]="['../new_product']" style="background-color: #2a2b38;color:white;">New Product</button>
    </div>
    <mat-form-field appearance="fill" style="font-size:13px" class="mt-2">
        <mat-label>Filter</mat-label>
        <mat-select>
            <mat-option value="one">All</mat-option>
            <mat-option value="two">Out Of Stock</mat-option>
        </mat-select>
    </mat-form-field>
    <div>
        <app-product-list [products]="products"></app-product-list>
    </div>
</div>