<owl-carousel-o [options]="customOptions">
    <ng-container>
        <ng-template carouselSlide style="position:relative">
            <img src="../../../../assets/andrew-pons-cLHPacdtpSY-unsplash (1).jpg">
            <h1 style="position:absolute;top:3vmin;left: 1px;">A great machine</h1>
        </ng-template>
    </ng-container>
    <ng-container>
        <ng-template carouselSlide>
            <img src="../../../../assets/andrew-pons-cLHPacdtpSY-unsplash.jpg">
        </ng-template>
    </ng-container>
    <ng-container>
        <ng-template carouselSlide>
            <img src="../../../../assets/marjan-blan-marjanblan-_zdAcilqUaw-unsplash.jpg">
        </ng-template>
    </ng-container>
    <ng-container>
        <ng-template carouselSlide>
            <img src="../../../../assets/search.svg">
        </ng-template>
    </ng-container>
</owl-carousel-o>