<div>
    <div class="d-flex justify-content-end p-3">
        <div>
            <button mat-icon-button aria-label="Example icon button with a menu icon" (click)="gridView = true">
                <mat-icon>grid_on</mat-icon>
              </button>
        </div>
        <div><button mat-icon-button aria-label="Example icon button with a menu icon" (click)="gridView = false">
            <mat-icon>list</mat-icon>
          </button>
        </div>
    </div>
    <div class="row grid-view" *ngIf="gridView">
        <div *ngFor="let product of products; let i = index" class="col-md-3 col-xl-2 product col-6 mt-2">
            <div style="cursor: pointer;" routerLink="../products/{{product.id}}" class="card">
                <img src="../../../../assets/andrew-pons-cLHPacdtpSY-unsplash (1).jpg" class="card-img-top img-fluid" alt="...">
                <div class="m-1">
                    <p class="card-text" style="font-size:0.83rem">{{product.name}}</p>
                    <h5 *ngIf="product.price" class="card-title" style="font-size:0.83rem;color:#e86105">KES {{product.price}}</h5>
                    <p *ngIf="product.discount_price" class="card-text" style="font-size:0.83rem;text-decoration: line-through;">KES {{product.discount_price}}</p>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="!gridView">
        <div class="list-product" *ngFor="let product of products;let i = index">
            <hr style="background-color: #2b2a38;">
            <div class="list-view row mt-3">
                <div class="col-sm-3">
                    <img src="../../../assets/andrew-pons-cLHPacdtpSY-unsplash (1).jpg" alt="" class="img-fluid">
                </div>
                <div class="col-sm-4">
                    <div>
                        <p style="font-size:1.2rem;font-weight: 600;">{{product.name}}</p>
                    </div>
                    <div>
                        <p *ngIf="product.price" class="card-title" style="font-size:0.9rem;color:#e86105">KES {{product.price}}</p>
                    </div>
                </div>
                <div class="col-sm-5 mt-3 mt-sm-0">
                    <div class="mt-sm-3 mt-2">
                        <button mat-raised-button routerLink="../products/{{product.id}}"><span style="color:#2b2a38">View</span></button>
                    </div>
                </div>
            </div>
            <hr style="background-color: #2b2a38;">
        </div>
    </div>
</div>