.product:hover {
    transform: scale(1.02);
    transition-duration: 0.8s;
}

.product {
    animation: slideInRight;
    animation-duration: 1s
}

.list-product {
    animation: slideInUp;
    animation-duration: 1s;
}

p {
    margin: 0;
    padding: 0;
}

.product img {
    height: 150px;
    width: 100%;
    object-fit: cover;
}

.list-view img {
    height: 50px;
    width: 50px;
    object-fit: cover;
}