<div class="p-3 main" style="background-color:white;height:100%">
    <hr style="background-color:#e86105">
    <div class="row">
        <div class="col-md-3">
            <img src="../../../assets/andrew-pons-cLHPacdtpSY-unsplash (1).jpg" class="img-fluid">
        </div>
        <div class="col-md-4 mt-md-0 mt-2">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit, dolores odit ea doloremque aspernatur quos.</p>
        </div>
        <div class="col-md-2 mt-md-0 mt-2">
            <p><b>KES 1,234</b></p>
        </div>
        <div class="col-md-2 mt-md-0 mt-2">
            <button mat-raised-button class="cart-button">ADD TO CART</button>
        </div>
        <div class="col-md-1 mt-md-0 mt-2">
            <mat-icon [ngStyle]="{'color':'red'}" class="show-icon">delete</mat-icon>
        </div>
    </div>
    <hr style="background-color:#e86105">
</div>