<div class="container-fluid border shadow" style="height:5em;display:flex;align-items:center;justify-content:space-between">
    <div>
        <img src="../../../assets/GALORE.svg" style="width:10em" alt="shops galore logo">
    </div>
    <div class="d-none d-md-block">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="../../../assets/user.svg" alt="" height="30px"> Mbira Ken
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Logout</a></li>
            <li><a class="dropdown-item" href="#">Settings</a></li>
        </ul>
    </div>
</div>