<div class="container-fluid row">
    <div class="role-choice col-md-8 col-lg-6">
        <div class="hero-title row container-fluid">
            <p>Welcome to <span style="color: #E86105; font-weight: normal;">Shops Galore!</span><br>What would you
                like
                to do?</p>
        </div>
        <div class="row container-fluid">
            <div class="roles col-xl-5">
                <div class="role-option" routerLink="form">
                    <img src="../../../../assets/shopping-cart.svg">
                    <p>Buy</p>
                </div>
                <div class="role-option" routerLink="form">
                    <img src="../../../../assets/shopping-bag.svg">
                    <p>Sell</p>
                </div>
                <div class="role-option" routerLink="form">
                    <img src="../../../../assets/truck.svg">
                    <p>Deliver</p>
                </div>
            </div>
        </div>
    </div>
</div>