<div style="width:90vw;height:90vh;background-color:white" class="d-flex justify-content-center align-items-center p-2">
    <div>
        <h1>Welcome to <span style="color: #E86105;">Shops Galore!</span><br>What would you like to do?</h1>
        <div id="roles">
            <button class="btn shadow" routerLink="form"><span class="badge"><img src="../../../../assets/shopping-cart.svg" width="20px"></span>Buy</button>
            <button class="btn shadow" routerLink="form"><span class="badge"><img src="../../../../assets/shopping-bag.svg" width="20px"></span>Sell</button>
            <button class="btn shadow" routerLink="form"><span class="badge"><img src="../../../../assets/truck.svg" width="20px"></span>Deliver</button>
        </div>
    </div>
</div>