<div class="role-choice d-flex justify-content-center align-items-center">
    <div>
        <div class="hero-title">
            <p>Welcome to <span style="color: #E86105; font-weight: normal;">Shops Galore!</span><br>What would you
                like
                to do?</p>
        </div>
        <div id="roles">
            <div class="role-option" routerLink="form">
                <img src="../../../../assets/shopping-cart.svg">
                <p>Buy</p>
            </div>
            <div class="role-option" routerLink="form">
                <img src="../../../../assets/shopping-bag.svg">
                <p>Sell</p>
            </div>
            <div class="role-option" routerLink="form">
                <img src="../../../../assets/truck.svg">
                <p>Deliver</p>
            </div>
        </div>
    </div>
</div>