<nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="background-color: #2B2A38 !important;">
    <div class="container-fluid">
        <a class="navbar-brand" routerLink=""><img src="../../../assets/GALORE.svg" width="100px"></a>
        <div class="navbar-right">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <form class="d-flex me-4">
                    <input class="form-control rounded-0 me-2" type="search" placeholder="Search for Product or Category" aria-label="Search">
                    <button class="btn btn-outline" type="submit">Search</button>
                </form>
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" routerLink=""><span class="badge"><img src="../../../assets/shopping-cart.svg"></span>cart</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"><span class="badge"><img src="../../../assets/user.svg"></span>Ken Mbira<span class="badge"><img src="../../../assets/chevron-down.svg"></span></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>