<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
        <a class="navbar-brand" href="#"><img src="../../../assets/GALORE.svg" alt=""></a>
        <form class="d-flex">
            <button class="btn" type="submit"><img src="../../../assets/search.svg" alt="" height="20px"></button>
            <input class="form-control me-2" type="search" placeholder="Search for categories and shops"
                aria-label="Search">

        </form>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class=""><img src="../../../assets/menu.svg" alt=""></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" routerLink=""><img src="../../../assets/shopping-cart.svg" height="25px"
                            style="margin-right: 0.5rem;">Cart</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="../../../assets/user.svg" alt="" height="30px">
                        Mbira Ken
                        <img src="../../../assets/chevron-down.svg" alt="" height="20px">
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>