<div style="padding:0.5em">
    <h2>Categories</h2>
    <div>
        <p><span class="badge"><img src="../../../../assets/Mail.svg"></span>Food and Beverages</p>
    </div>
    <div>
        <p><span class="badge"><img src="../../../../assets/Mail.svg"></span>Food and Beverages</p>
    </div>
    <div>
        <p><span class="badge"><img src="../../../../assets/Mail.svg"></span>Food and Beverages</p>
    </div>
    <div>
        <p><span class="badge"><img src="../../../../assets/Mail.svg"></span>Food and Beverages</p>
    </div>
    <div>
        <p><span class="badge"><img src="../../../../assets/Mail.svg"></span>Food and Beverages</p>
    </div>
    <div>
        <p><span class="badge"><img src="../../../../assets/Mail.svg"></span>Food and Beverages</p>
    </div>
</div>