<div>
    <div class="header">
        <h4>Categories</h4>
    </div>
    <div class="content">
        <div>
            <p><img src="../../../../assets/coffee.svg">Food and Beverages</p>
        </div>
        <div>
            <p><img src="../../../../assets/server.svg">Electronics</p>
        </div>
        <div>
            <p><img src="../../../../assets/shopping-bag.svg">Groceries</p>
        </div>
        <div>
            <p><img src="../../../../assets/compass.svg">Sports</p>
        </div>
        <div>
            <p><img src="../../../../assets/umbrella.svg">Fashion</p>
        </div>
        <div>
            <p><img src="../../../../assets/settings.svg">Tools & Machinery</p>
        </div>
    </div>
</div>