.editable {
    color: blue;
    cursor: pointer;
}

p {
    margin: 0;
    padding: 0
}

mat-form-field {
    width: 100%
}

#update-button {
    color: white;
    background-color: #E86105;
    width: 100%;
}