<div>
    <div>
        <label for="name" class="form-label">Product Name</label>
        <input id="name" value={{product.name}} class="form-control" type="text">
    </div>
    <div class="row mt-2">
        <div class="col-6">
            <label for="category" class="form-label">Category</label>
            <input id="category" value="{{product.category.name}}" class="form-control" type="text">
        </div>
        <div class="col-6">
            <label for="brand" class="form-label">Brand</label>
            <input id="brand" value="{{product.brand.name}}" class="form-control" type="text">
        </div>
    </div>
    <div class="mt-2">
        <label for="description" class="form-label">Description</label>
        <textarea id="description" rows="6" class="form-control" type="text">{{product.description}}</textarea>
    </div>
</div>