<div>
    <div>
        <label for="name" class="form-label">Product Name</label>
        <input id="name" value="Leather Jacket" class="form-control" type="text">
    </div>
    <div class="row mt-2">
        <div class="col-6">
            <label for="category" class="form-label">Category</label>
            <input id="category" value="Men clothes" class="form-control" type="text">
        </div>
        <div class="col-6">
            <label for="brand" class="form-label">Brand</label>
            <input id="brand" value="Gucci" class="form-control" type="text">
        </div>
    </div>
    <div class="mt-2">
        <label for="description" class="form-label">Description</label>
        <textarea id="description" rows="6" class="form-control" type="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Et ducimus est nobis? Itaque, quaerat enim.</textarea>
    </div>
</div>