mat-toolbar {
    background-color: none;
}

mat-sidenav {
    width: 200px;
    background: #2B2A38;
    color: #E86105;
    border-radius: 0;
    text-align: center
}

mat-sidenav-container {
    background: none;
}