mat-toolbar {
    background-color: none;
    height: 60px;
}

mat-sidenav {
    width: 200px;
    background: #2B2A38;
    color: #E86105;
    border-radius: 0;
    text-align: center
}

mat-sidenav-container {
    background: none;
    min-height: calc(100vh - 60px)
}