<div>
    <div class="row">
        <div class="col-5">
            <img src="../../../../../assets/andrew-pons-cLHPacdtpSY-unsplash (1).jpg" class="img-fluid rounded-2 m-1">
        </div>
        <div class="col-7 row">
            <div class="col-6 holder d-flex justify-content-center align-items-center" style="height: fit-content;">
                <img src="../../../../../assets/andrew-pons-cLHPacdtpSY-unsplash (1).jpg" class="img-fluid rounded-2 m-1 image">
                <div class="middle">
                    <button mat-raised-button class="set-default-button">Set default</button>
                </div>
            </div>
            <div class="col-6 holder d-flex justify-content-center align-items-center" style="height: fit-content;">
                <img src="../../../../../assets/andrew-pons-cLHPacdtpSY-unsplash (1).jpg" class="img-fluid rounded-2 m-1 image">
                <div class="middle">
                    <button mat-raised-button class="set-default-button">Set default</button>
                </div>
            </div>
            <div class="col-6 holder d-flex justify-content-center align-items-center" style="height: fit-content;">
                <img src="../../../../../assets/andrew-pons-cLHPacdtpSY-unsplash (1).jpg" class="img-fluid rounded-2 m-1 image">
                <div class="middle">
                    <button mat-raised-button class="set-default-button">Set default</button>
                </div>
            </div>
            <div class="col-6 holder d-flex justify-content-center align-items-center" style="height: fit-content;">
                <img src="../../../../../assets/andrew-pons-cLHPacdtpSY-unsplash (1).jpg" class="img-fluid rounded-2 m-1 image">
                <div class="middle">
                    <button mat-raised-button class="set-default-button">Set default</button>
                </div>
            </div>
        </div>
    </div>
</div>