<div>
    <p style="font-size:1.2rem;font-weight:bold">Product Description</p>
    <mat-divider [ngStyle]="{'backgroundColor':'#e86105'}" class="mt-2 mb-2"></mat-divider>
    <div>
        <p style="font-size:0.8rem">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil necessitatibus
            excepturi culpa distinctio hic accusamus numquam aspernatur quae. Perspiciatis quod, amet provident
            distinctio quaerat facilis esse dolore vero iste, obcaecati, aut quia. Adipisci architecto natus similique
            quis ea consectetur, sint aliquid cupiditate, deserunt sed corrupti, nisi accusantium autem quisquam
            inventore magni cum. Id dolorem perferendis quisquam ducimus soluta ipsum quaerat consequuntur voluptatum
            molestias nihil, dignissimos, ab nulla, aliquam provident esse consequatur. Veritatis reprehenderit quo ex?
            Quia, sequi quos. Assumenda provident dicta sed quam? Adipisci deleniti vitae voluptatibus, distinctio
            architecto excepturi? Corporis praesentium odit harum assumenda? Nulla, cum? Assumenda nulla tempora eaque
            non error ratione! Quod deleniti assumenda necessitatibus veniam ad aliquid tempora nam recusandae doloribus
            eligendi voluptates molestiae, in velit architecto iusto sequi debitis iste possimus! Deleniti itaque
            officiis maiores asperiores magni, saepe quis soluta blanditiis pariatur eum dignissimos sequi ut
            architecto? Nemo at ad officia itaque autem exercitationem, ducimus nobis! Beatae placeat facere, quam
            veniam rem eos ea vel maiores dicta mollitia, nisi atque repudiandae eius, quisquam quae nesciunt quia
            deleniti aspernatur et necessitatibus commodi. Enim exercitationem culpa perspiciatis? Tenetur, corrupti
            sunt. Quam consequuntur veritatis expedita ipsa alias sapiente, dolorem, odit similique possimus aperiam
            aut.</p>
    </div>
</div>