<div [formGroup]="newShopForm">
    <mat-stepper class="example-stepper" [orientation]="(stepperOrientation | async)!" #stepper>
        <mat-step label="Enter your shop details">
            <div class="wrappers">
                <app-new-shop-form (formSubmission)="moveStepper($event,stepper)"></app-new-shop-form>
            </div>
        </mat-step>
        <mat-step label="Choose your pickup location">
            <div class="wrappers">
                <app-select-location (formSubmission)="submitForm($event)"></app-select-location>
            </div>
        </mat-step>
    </mat-stepper>
</div>