<div class="main">
    <div class="row p-2">
        <div class="col-md-6">
            <div class="total-purchases shadow">
                <p>Total Purchases</p>
            </div>
        </div>
        <div class="col-md-6 mt-2 mt-md-0">
            <div class="row">
                <div class="col-6 pe-1">
                    <div class="order shadow">
                        <p>My Orders</p>
                    </div>
                </div>
                <div class="col-6 ps-1">
                    <div class="cart shadow">
                        <p>My Cart</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 mt-3">
            <div class="wishlist shadow">

            </div>
        </div>
        <div class="col-md-6 mt-3">
            <div class="favourite shadow">

            </div>
        </div>

    </div>
</div>