<mat-stepper orientation="vertical" [linear]="isLinear" #stepper>
    <mat-step>
        <form>
            <ng-template matStepLabel>Choose the county</ng-template>
            <mat-form-field appearance="fill">
                <mat-label>Select the county</mat-label>
                <mat-select>
                    <mat-option value="one">Kiserian</mat-option>
                    <mat-option value="two">Ngong</mat-option>
                </mat-select>
            </mat-form-field>
            <div>
                <button mat-button matStepperNext>Next</button>
            </div>
        </form>
    </mat-step>
    <mat-step label="Select the actual location">
        <form>
            <mat-form-field appearance="fill">
                <mat-label>Select the actual location</mat-label>
                <mat-select>
                    <mat-option value="one">Kiserian</mat-option>
                    <mat-option value="two">Ngong</mat-option>
                </mat-select>
            </mat-form-field>
            <div>
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button matStepperNext>Next</button>
            </div>
        </form>
    </mat-step>
    <mat-step label="Choose one of your delivery means">
        <form>
            <mat-form-field appearance="fill">
                <mat-label>Select the delivery means</mat-label>
                <mat-select>
                    <mat-option value="one">Kiserian</mat-option>
                    <mat-option value="two">Ngong</mat-option>
                </mat-select>
            </mat-form-field>
            <div>
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button matStepperNext>Next</button>
            </div>
        </form>
    </mat-step>
    <mat-step label="Enter your price for this location">
        <form>
            <mat-form-field appearance="fill">
                <mat-label>Enter your pricing for this location</mat-label>
                <input matInput placeholder="Ex. 1 Main St, New York, NY" required>
            </mat-form-field>
            <div>
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button matStepperNext>Next</button>
            </div>
        </form>
    </mat-step>
    <mat-step>
        <ng-template matStepLabel>Done</ng-template>
        <p>You are now done.</p>
        <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button (click)="stepper.reset()">Reset</button>
        </div>
    </mat-step>
</mat-stepper>