<div class="row container-fluid">
    <div class="role-choice col-md-8 col-lg-6">
        <p id="forgot">Reset Password</p>
        <div class="hero-title row container-fluid">
            <div class="col-12 placeholder-icon">
                <img src="../../../../assets/key.svg" alt="" height="20px">
                <input type="text" class="form-control " placeholder="One Time Password (OTP)">
            </div>
            <div class="col-12 placeholder-icon">
                <img src="../../../../assets/lock.svg" alt="" height="20px">
                <input type="password" class="form-control " placeholder="New Password">
            </div>
            <div class="col-12 placeholder-icon">
                <img src="../../../../assets/lock.svg" alt="" height="20px">
                <input type="password" class="form-control " placeholder="Re-enter new password">
            </div>
            <div class="mt-5 mb-5">
                <button routerLink="../login" class="btn btn-register">PROCEED</button>
            </div>
        </div>
    </div>
</div>