div {
    background-color: white;
    display: flex;
    height: fit-content;
    align-items: center;
    width: fit-content;
    justify-content: center;
    border-radius: 5px;
    color: #2b2a38;
}

div>img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

div>p {
    margin: 0;
}