<div>
    <div class="me-3 ms-3 mt-3 row slider-category">
        <div class="col-md-3 categories">
            <app-category></app-category>
        </div>
        <div class="col-md-9 hero-slider">
            <app-slider></app-slider>
        </div>
    </div>
    <div class="me-3 ms-3 mt-3">
        <app-service-slider></app-service-slider>
    </div>
    <div class="featured-products me-3 ms-3 mt-3">
        <app-featured-products></app-featured-products>
    </div>
    <div class="top-sellers">

    </div>
</div>