@media (max-width:900px) {
    .dashboard {
        width: 100vw !important;
    }
    .delivery-chart {
        width: 100% !important;
    }
}

.dashboard {
    animation: slideInUp;
    animation-duration: 1s;
}

mat-icon {
    margin-left: 0.5em;
    margin-right: 0.5em
}