<div style="margin-top:2em">
    <button mat-button class="menu-button"><img src="../../../assets/home.svg"><span>Home</span></button>
    <button mat-button class="menu-button"><img src="../../../assets/info.svg"><span>Pending</span></button>
    <button mat-button class="menu-button"><img src="../../../assets/bell.svg"><span>Notifications</span></button>
    <button mat-button class="menu-button"><img src="../../../assets/shopping-bag.svg"><span>Destinations</span></button>
    <button mat-button class="menu-button"><img src="../../../assets/truck.svg"><span>Delivery Means</span></button>
    <button mat-button class="menu-button"><img src="../../../assets/settings.svg"><span>Settings</span></button>
</div>