<div style="margin-top:2em">
    <button mat-button class="menu-button" routerLink="."><mat-icon>home</mat-icon><span>Home</span></button>
    <button mat-button class="menu-button" routerLink="deliveries"><mat-icon>new_releases</mat-icon><span>Deliveries</span></button>
    <button mat-button class="menu-button" routerLink="notification"><mat-icon>announcement</mat-icon><span>Notifications</span></button>
    <button mat-button class="menu-button" routerLink="destination"><mat-icon>map</mat-icon><span>Destinations</span></button>
    <button mat-button class="menu-button" routerLink="means"><mat-icon>departure_board</mat-icon><span>Delivery Means</span></button>
    <mat-divider></mat-divider>
    <button mat-button class="menu-button"><mat-icon>settings</mat-icon><span>Settings</span></button>
</div>