<div class="container-fluid mt-md-2">
    <div>
        <p style="font-size:1.4rem;font-weight:bold">Ovoe Crafts</p>
    </div>
    <div class="mb-2">
        <app-shop-slider></app-shop-slider>
    </div>
    <div class="custom-main-container">
        <div class="filters">
            <div>
                <app-price-filter></app-price-filter>
            </div>
        </div>
        <div class="main">
            <div class="mt-2">
                <p style="font-size:1rem;font-weight:600">Products...</p>
                <app-product-list></app-product-list>
            </div>
        </div>
    </div>
</div>