<div style="margin-top:2em">
    <button mat-button class="menu-button" routerLink="."><mat-icon>dashboard</mat-icon><span>Dashboard</span></button>
    <button mat-button class="menu-button" routerLink="wishlist"><mat-icon>favorite</mat-icon><span>Wishlist</span></button>
    <button mat-button class="menu-button" routerLink="orders"><mat-icon>local_grocery_store</mat-icon><span>Previous Orders</span></button>
    <mat-divider></mat-divider>
    <button mat-button class="menu-button"><mat-icon>settings</mat-icon><span>Settings</span></button>
</div>