h4 {
    font-size: smaller
}

.margin-hr {
    margin-top: 1em;
    margin-bottom: 1em;
    background-color: #E86105;
    height: 0.1em
}

h6 {
    color: #E86105
}

.reduced>p,
h6 {
    margin: 0;
    padding: 0
}