<div class="row mt-2" style="width:100%">
    <hr style="color:#2B2A38">
    <div class="col-md-4">
        <div class="reduced">
            <h6>Order No. 23455</h6>
            <p>Mbira Ken</p>
            <p>0722442604</p>
            <p>South B Nairobi</p>
        </div>
    </div>
    <div class="col-md-4" style="height:100%">
        <h6><b>3 items(s)</b></h6>
    </div>
    <div class="col-md-4" style="height:100%">
        <h6>PENDING</h6>
        <button (click)="openDialog()" mat-raised-button class="mt-2" color="accent">Complete</button>
    </div>
    <hr style="color:#2B2A38 ">
</div>