::ng-deep .mat-progress-bar-fill::after {
    background-color: #e86105;
}

::ng-deep .mat-progress-bar-buffer {
    background: #E4E8EB;
}

.loader {
    position: top;
    width: 100%;
    z-index: 99;
}