<form [formGroup]="newShopForm">
    <div>
        <mat-form-field appearance="fill">
            <mat-label>Name</mat-label>
            <input formControlName="name" matInput type="text" placeholder="eg. Orient Suppliers">
        </mat-form-field>
    </div>
    <div>
        <mat-form-field appearance="fill">
            <mat-label>Bio</mat-label>
            <textarea formControlName="bio" matInput placeholder="Say a bit about what it is your shop does..."></textarea>
        </mat-form-field>
    </div>
    <div>
        <mat-form-field appearance="fill">
            <mat-label>Phone Number</mat-label>
            <input formControlName="phone_contact" matInput type="text" placeholder="eg. 07...">
            <mat-hint>How people will reach you</mat-hint>
        </mat-form-field>
    </div>
    <div>
        <mat-form-field appearance="fill">
            <mat-label>Email</mat-label>
            <input formControlName="email_contact" matInput type="email" placeholder="eg. shop@gmail.com">
            <mat-hint>Shop email</mat-hint>
        </mat-form-field>
    </div>
    <div class="mt-2">
        <button mat-raised-button style="background-color: #e86105;width: 100%;" type="button">Next</button>
    </div>
</form>