<div class="d-flex justify-content-center">
    <div>
        <form [formGroup]="productForm">
            <div>
                <mat-form-field appearance="outline">
                    <mat-label>Name</mat-label>
                    <input matInput placeholder="Ex. Leather Jacket" formControlName="name">
                </mat-form-field>
            </div>
            <div>
                <mat-form-field appearance="outline">
                    <mat-label>Description</mat-label>
                    <textarea matInput formControlName="description"></textarea>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field appearance="outline">
                    <mat-label>Brand</mat-label>
                    <mat-select formControlName="brand">
                        <mat-option *ngFor="let brand of brands;let i = index" value="{{brand.id}}">{{brand.name}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div>
                <ngx-mat-tree-select-input [options]="categories" [placeholder]="'Choose Category'" [heading]="'Child of '" [canSelectParentNode]="false" [controlName]="'category'">
                </ngx-mat-tree-select-input>
            </div>
            <div>
                <mat-form-field appearance="outline">
                    <mat-label>Type</mat-label>
                    <mat-select formControlName="type">
                        <mat-option value="Type1">Type1</mat-option>
                        <mat-option value="Type2">Type1</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </form>
        <div class="m-2">
            <button mat-raised-button class="me-2" matStepperPrevious>Back</button>
            <button mat-raised-button matStepperNext [disabled]="!productForm.valid">Next</button>
        </div>
    </div>
</div>