<div [formGroup]="destinationForm">
    <mat-stepper orientation="vertical" #stepper>
        <mat-step>
            <ng-template matStepLabel>Choose the county</ng-template>
            <mat-form-field appearance="fill">
                <mat-label>Select the county</mat-label>
                <mat-select>
                    <mat-option value="one">Kiserian</mat-option>
                    <mat-option value="two">Ngong</mat-option>
                </mat-select>
            </mat-form-field>
            <div>
                <button mat-raised-button matStepperNext>Next</button>
            </div>
        </mat-step>
        <mat-step label="Select the starting point">
            <mat-form-field appearance="fill">
                <mat-label>Select the actual location</mat-label>
                <mat-select>
                    <mat-option value="one">Kiserian</mat-option>
                    <mat-option value="two">Ngong</mat-option>
                </mat-select>
            </mat-form-field>
            <div>
                <button mat-raised-button matStepperPrevious>Back</button>
                <button mat-raised-button matStepperNext>Next</button>
            </div>
        </mat-step>
        <mat-step label="Choose one of your delivery means">
            <mat-form-field appearance="fill">
                <mat-label>Select the delivery means</mat-label>
                <mat-select>
                    <mat-option value="one">Kiserian</mat-option>
                    <mat-option value="two">Ngong</mat-option>
                </mat-select>
            </mat-form-field>
            <div>
                <button mat-raised-button matStepperPrevious>Back</button>
                <button mat-raised-button matStepperNext>Next</button>
            </div>
        </mat-step>
        <mat-step label="Enter your price for this location">
            <mat-form-field appearance="fill">
                <mat-label>Enter your price</mat-label>
                <input matInput type="number" formControlName="price" placeholder="Kenyan Shillings" required>
            </mat-form-field>
            <div>
                <button mat-raised-button matStepperPrevious>Back</button>
                <button mat-raised-button matStepperNext>Next</button>
            </div>
        </mat-step>
        <mat-step>
            <ng-template matStepLabel>Finish</ng-template>
            <p>You are now done.</p>
            <div>
                <button mat-raised-button matStepperPrevious style="color:#2a2b38">Back</button>
                <button mat-raised-button (click)="stepper.reset()" style="background:#2a2b38;color:white">Create</button>
            </div>
        </mat-step>
    </mat-stepper>
</div>