<form [formGroup]="destinationForm" (ngSubmit)="stageCreation()">
    <mat-stepper orientation="vertical" #stepper>
        <mat-step>
            <ng-template matStepLabel>Select the from location</ng-template>
            <div>
                <ngx-mat-tree-select-input [options]="locations" [placeholder]="'From'" [heading]="'Within'" [controlName]="'location_from'">
                </ngx-mat-tree-select-input>
            </div>
            <div>
                <button type="button" mat-raised-button matStepperNext>Next</button>
            </div>
        </mat-step>
        <mat-step label="Select the to location">
            <div>
                <ngx-mat-tree-select-input [options]="locations" [placeholder]="'To'" [heading]="'Within'" [controlName]="'location_to'">
                </ngx-mat-tree-select-input>
            </div>
            <div>
                <button type="button" mat-raised-button matStepperPrevious>Back</button>
                <button type="button" mat-raised-button matStepperNext>Next</button>
            </div>
        </mat-step>
        <mat-step label="Choose one of your delivery means">
            <mat-form-field appearance="fill">
                <mat-label>Select the delivery means</mat-label>
                <mat-select formControlName="means">
                    <mat-option *ngFor="let data of data" value={{data.id}}>{{data.delivery_means.name}}</mat-option>
                </mat-select>
            </mat-form-field>
            <div>
                <button type="button" mat-raised-button matStepperPrevious>Back</button>
                <button type="button" mat-raised-button matStepperNext>Next</button>
            </div>
        </mat-step>
        <mat-step label="Enter your price for this location">
            <mat-form-field appearance="fill">
                <mat-label>Enter your price</mat-label>
                <input matInput type="number" formControlName="price" placeholder="Kenyan Shillings" required>
            </mat-form-field>
            <div>
                <button type="button" mat-raised-button matStepperPrevious>Back</button>
                <button type="button" mat-raised-button matStepperNext>Next</button>
            </div>
        </mat-step>
        <mat-step>
            <ng-template matStepLabel>Finish</ng-template>
            <p>You are now done.</p>
            <div>
                <button mat-raised-button matStepperPrevious style="color:#2a2b38">Back</button>
                <button mat-raised-button type="submit" style="background:#2a2b38;color:white">Create</button>
            </div>
        </mat-step>
    </mat-stepper>
</form>