<div style="margin-top:2em">
    <button mat-button class="menu-button" routerLink="../../auth/forgot"><span>Change Password</span></button>
    <button mat-button class="menu-button"><span>Language</span></button>
    <button mat-button class="menu-button"><span>Terms of Service</span></button>
    <button mat-button class="menu-button"><span>Privacy Policy</span></button>
    <button mat-button class="menu-button"><span>App Version</span></button>
    <mat-divider></mat-divider>
    <button mat-button class="menu-button"><span><b>LOGOUT</b></span></button>
</div>