<div>
    <p style="font-size:1rem;font-weight:600">Children..</p>
    <div class="row" data-masonry='{"percentPosition": true }'>
        <div class="col-md-2 col-4 category" [routerLink]="['/customer/category',1]">
            <img src="../../../../assets/andrew-pons-cLHPacdtpSY-unsplash (1).jpg" alt="" class="img-fluid">
            <p style="font-size:0.8rem">Men's Category</p>
        </div>
        <div class="col-md-2 col-4 category" [routerLink]="['/customer/category',1]">
            <img src="../../../../assets/andrew-pons-cLHPacdtpSY-unsplash (1).jpg" alt="" class="img-fluid">
            <p style="font-size:0.8rem">Men's Category</p>
        </div>
        <div class="col-md-2 col-4 category" [routerLink]="['/customer/category',1]">
            <img src="../../../../assets/andrew-pons-cLHPacdtpSY-unsplash (1).jpg" alt="" class="img-fluid">
            <p style="font-size:0.8rem">Men's Category</p>
        </div>
        <div class="col-md-2 col-4 category" [routerLink]="['/customer/category',1]">
            <img src="../../../../assets/andrew-pons-cLHPacdtpSY-unsplash (1).jpg" alt="" class="img-fluid">
            <p style="font-size:0.8rem">Men's Category</p>
        </div>
        <div class="col-md-2 col-4 category" [routerLink]="['/customer/category',1]">
            <img src="../../../../assets/andrew-pons-cLHPacdtpSY-unsplash (1).jpg" alt="" class="img-fluid">
            <p style="font-size:0.8rem">Men's Category</p>
        </div>
    </div>
</div>