/* @media (max-width:900px) {
    .delivery-chart {
        width: 100% !important;
    }
} */

p {
    margin: 0;
    padding: 0
}

.shadow {
    background: white;
    margin-top: 1rem;
    padding: 1rem;
}

.shadow:hover {
    transform: scale(1.03);
    transition: 500ms;
}

h6 {
    color: #E86105;
    font-size: .8rem;
}

span {
    font-size: smaller;
}

mat-icon {
    margin: 0 0.5rem !important;
}