<div>
    <div class="d-flex justify-content-between">
        <div>
            <h6>Shops</h6>
        </div>
        <button mat-raised-button class="new-shop" routerLink="new-shop">New Shop</button>
    </div>
    <div *ngIf="shops.length>0" class="row mt-3">
        <div class="col-6 col-md-3 col-xl-2 mb-2 p-1" *ngFor="let shop of shops">
            <div class="shadow rounded-3 shop-card" routerLink="../shop/{{shop.id}}">
                <div>
                    <img *ngIf="shop.logo" src={{shop.logo}} alt="shop-image" class="shop-logo">
                    <img *ngIf="!shop.logo" src="../../../../assets/image.webp" alt="shop-image" class="shop-logo">
                </div>
                <div class="p-2">
                    <div>
                        <p class="shop-name">{{ (shop.name.length>15)? (shop.name | slice:0:15)+'..':(shop.name) }}
                        </p>
                    </div>
                    <div class="d-flex justify-content-between">
                        <div>
                            <p class="product-count">{{shop.product_count === 1 ? "1 product" : shop.product_count + " products"}}</p>
                        </div>
                        <div>
                            <div class="status-badge" [ngStyle]="{'background': shop.active ? '#E86105' : '#F44336'}">
                                <small>{{shop.active ? "active" : "inactive"}}</small>
                            </div>
                        </div>
                    </div>
                    <div>
                        <small class="created-on">Created on {{shop.created_on | date}}</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>