.new-shop {
    background-color: #2b2a38;
    color: white;
}

.shop-card {
    cursor: pointer;
}

.shop-card:hover {
    transform: scale(1.01);
    transition-duration: .5s;
}

.shop-logo {
    height: 130px;
    width: 100%;
    object-fit: cover
}

p {
    margin: 0;
    padding: 0;
}

.shop-name {
    font-size: 1rem;
}

.status-badge {
    padding: .2em;
    display: flex;
    justify-content: center;
    height: fit-content;
    align-items: center;
    border-radius: 4px;
}

.status-badge small {
    font-size: .7rem
}

.active-badge {
    background: #E86105;
}

.inactive-badge {
    background: #F44336;
}

.product-count {
    font-size: .8rem
}

.created-on {
    font-size: .6rem;
}