<div style="width:80vw;min-height:90vh" class="p-2 dashboard">
    <div class="d-flex justify-content-between">
        <div>
            <h6>Shops</h6>
            <!-- <p style="color:#E86105">1 inactive</p> -->
        </div>
        <button class="btn new-shop" style="height:fit-content" routerLink="new-shop">New Shop</button>
    </div>
    <div class="row mt-3">
        <div class="col-md-4 g-1" *ngFor="let shop of shops; let i = index">
            <div class="shop-card" routerLink="../shop/{{shop.id}}" style="background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../../../../assets/andrew-pons-cLHPacdtpSY-unsplash.jpg');">
                <p style="font-size:1.1rem;color: #E86105;">{{shop.name}}</p>
                <p><span style="font-size: 3rem;">{{shop.products}}</span> Products</p>
                <p>Active:<span style="color:#E86105" class="ms-1">{{shop.active}}</span></p>
                <small>Created on {{shop.created_on | date}}</small>
            </div>
        </div>
    </div>
</div>