@media (max-width:900px) {
    .dashboard {
        width: 100vw !important;
    }
}

@media (min-width:768px) {
    .stats {
        height: 30vh
    }
    .chores {
        height: 17vh
    }
}

p {
    margin: 0;
    padding: 0
}