<div>
    <div>
        <p>Good {{greeting}} Mbira, here's how we're doing</p>
    </div>
    <div class="row">
        <div class="col-lg-4 space-right col-6">
            <div class="top purple">
                <p class="regular white-text"><span class="titles orange-text">5</span> Shops</p>
            </div>
        </div>
        <div class="col-lg-4 space-left col-6">
            <div class="top white">
                <p><span class="titles purple-text">250K</span><br><span class="regular orange-text">Sales this Month</span><br><span class="smallest">22% higher than last month</span></p>
            </div>
        </div>
        <div class="col-lg-4 remnant">
            <div class="top white">
                <p><span class="titles purple-text">1.5M</span><br><span class="regular orange-text">Income this Month</span><br><span class="smallest">38% higher than last month</span></p>
            </div>
        </div>
        <div class="col-lg-8 bottom">
            <div class="row">
                <div class="col-6 space-right">
                    <div class="white bottom-top">
                        <div>
                            <p class="regular orange-text">Notifications</p>
                        </div>
                        <div class="d-flex align-items-center kinda-small">
                            <mat-icon class="orange-text">notifications</mat-icon>3 unread notifications
                        </div>
                    </div>
                </div>
                <div class="col-6 space-left">
                    <div class="purple bottom-top">
                        <div>
                            <p class="regular orange-text">Shops</p>
                        </div>
                        <div class="d-flex align-items-center kinda-small white-text">
                            <mat-icon class="orange-text">priority_high</mat-icon> 1 attention required
                        </div>
                    </div>
                </div>
                <div class="col-6 space-right">
                    <div class="purple bottom-bottom">
                        <p class="regular white-text"><span class="titles orange-text">2</span> Featured Shops</p>
                    </div>
                </div>
                <div class="col-6 space-left">
                    <div class="white bottom-bottom">
                        <p><span class="titles purple-text">247</span><br><span class="regular orange-text">Sales Today</span><br><span class="smallest">12% lower than yesterday</span></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 remnant">
            <div class="white bottom isolated">
                <div class="d-flex align-items-center kinda-large purple-text">
                    <mat-icon class="orange-text">emoji_events</mat-icon> Top 3 Shops
                </div>
                <div>
                    <ol class="orange-text">
                        <li><span class="purple-text">Orient Suppliers</span></li>
                        <li><span class="purple-text">Orient Suppliers</span></li>
                        <li><span class="purple-text">Orient Suppliers</span></li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>