<div style="background:white;width:80vw;min-height:90vh" class="p-2 dashboard">
    <div>
        <h6>Good {{greeting}} Mbira, here's how we're doing</h6>
    </div>
    <div class="row g-3 stats">
        <div class="col-md-4 col-6">
            <div class="shadow p-2" style="background-color:#2B2A38">
                <h5 style="color:#E86105">5</h5><br>
                <p style="color:white">Shops</p>
            </div>
        </div>
        <div class="col-md-4 col-6">
            <div class="shadow p-2">
                <h5 style="color:#2B2A38">250K</h5>
                <p style="color:#E86105">Sales this month</p>
                <small>22% higher than last month</small>
            </div>
        </div>
        <div class="col-md-4 col-12">
            <div class="shadow p-2">
                <h5 style="color:#2B2A38">1.5M</h5>
                <p style="color:#E86105">Income this month</p>
                <small>18% hignher than last month</small>
            </div>
        </div>
    </div>
</div>