.btn-login {
    color: #E86105;
    background-color: white;
    border-radius: 0;
    border-color: #E86105;
}

.btn-login:hover,
.btn-login:active,
.btn-login:focus {
    background-color: #c7611d;
    border-color: #c7611d;
    color: white;
}