<div class="container-fluid d-flex justify-content-center text-center">
    <div>
        <div>
            <img src="../../../../assets/send.svg" alt="" class="img-fluid">
        </div>
        <div style="font-size: .8rem;">
            <p>Shops Galore has sent a verification link to the email<br><span style="color:#e86105">mbiraken17@gmail.com</span><br>Go click on it to finalize your account creation</p>
        </div>
        <div style="font-size: .7rem;">
            <p>Didn't get it? check your spam folder or <a style="color:#e86105 !important" routerLink="../login">send again</a></p>
        </div>
        <div>
            <button mat-raised-button style="background-color:#e86105;width:100%">Proceed to login</button>
        </div>
    </div>
</div>