<div style="width:90vw;height:90vh;background-color:white" class="d-flex justify-content-center align-items-center p-2">
    <div class="text-center">
        <img src="../../../../assets/send.svg" width="90vw">
        <div style="font-size:3vmin">
            <p>Shops Galore has sent a verification link to the email<br><span style="color:#E86105">mbiraken17@gmail.com</span><br>Go click on it to finalise your account creation</p>
        </div>
        <button routerLink="../../login" class="btn btn-login">I've clicked it, log in</button><br>
        <small>Didn't get it? Check your spam folder or <a style="color:#E86105 !important">send again</a></small>
    </div>
</div>