<div class="contaier-md" [formGroup]="registrationForm">
    <mat-stepper class="example-stepper" [orientation]="(stepperOrientation | async)!" #stepper>
        <mat-step label="Choose your role">
            <app-role-choice (newRole)="chooseRole($event,stepper)"></app-role-choice>
        </mat-step>
        <mat-step label="Fill out your information">
            <app-form (formSubmission)="submitForm($event,stepper)" (googleSignIn)="googleSignIn()"></app-form>
        </mat-step>
        <mat-step label="Success">
            <app-successfull></app-successfull>
        </mat-step>
    </mat-stepper>
</div>