<div class="contaier-fluid d-flex justify-content-center align-items-center" id="register">
    <div class="row">
        <div class="col-md-6">
            <form class="p-5 rounded-1 shadow-lg row g-3" style="background-color:white;">
                <div class="col-sm-6">
                    <input class="form-control rounded-0" type="text" placeholder="First Name">
                </div>
                <div class="col-sm-6">
                    <input class="form-control rounded-0" type="text" placeholder="Last Name">
                </div>
                <div class="mt-3">
                    <input class="form-control rounded-0" type="email" placeholder="Your Email">
                </div>
                <div class="mt-3">
                    <input class="form-control rounded-0" type="password" placeholder="Type New Password">
                </div>
                <div class="mt-3">
                    <input class="form-control rounded-0" type="password" placeholder="Re-enter Password">
                </div>
                <div class="d-flex mt-3 mb-3 justify-content-between small-font col-12">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="rememberme"><label class="form-check-label" for="rememberme">I agree to all <a style="color: #E86105 !important;">terms and conditions</a></label>
                    </div>
                </div>
                <div>
                    <button class="btn btn-register">Sign Up</button>
                </div>
                <div class="mt-2 mb-3">
                    <p>Already have an account? <a routerLink="login" style="color:#E86105 !important;">Log in</a></p>
                </div>
            </form>
        </div>
        <!-- <div class="d-none d-md-block col-md-1"></div> -->
        <div class="col-md-6 mt-4" style="text-align: center">
            <div class="d-flex justify-content-center mt-3">
                <div style="background-color:white; white-space:nowrap;" class="p-2 shadow-lg">
                    <img src="../../../assets/2993685_brand_brands_google_logo_logos_icon 1.svg" style="vertical-align:middle" width="20px">
                    <span class="ms-2">Sign up with Google</span>
                </div>
            </div>
            <div class="d-flex justify-content-center mt-3">
                <div style="background-color:white; white-space:nowrap;" class="p-2 shadow-lg">
                    <img src="../../../assets/4202107_facebook_fb_logo_social_social media_icon 1.svg" style="vertical-align:middle" width="20px">
                    <span class="ms-2">Sign up with Facebook</span>
                </div>
            </div>
            <div class="d-flex justify-content-center mt-3">
                <div style="background-color:white; white-space:nowrap;" class="p-2 shadow-lg">
                    <img src="../../../assets/317720_social media_tweet_twitter_social_icon 1.svg" style="vertical-align:middle" width="20px">
                    <span class="ms-2">Sign up with Twitter</span>
                </div>
            </div>
        </div>
    </div>
</div>