<div class="contaier-fluid d-flex justify-content-center align-items-center" id="login">
    <div class="row">
        <div class="col-md-8">
            <form class="p-5 rounded-1 shadow-lg" style="background-color:white;">
                <div class="input-group">
                    <input class="form-control rounded-0" type="email" placeholder="Email" size="30">
                </div>
                <div class="input-group mt-3">
                    <input class="form-control rounded-0" type="password" placeholder="Password" size="30">
                </div>
                <div class="d-flex mt-3 mb-3 justify-content-between small-font">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="rememberme"><label class="form-check-label" for="rememberme">Remember me</label>
                    </div>
                    <a routerLink="../forgot" style="color:#E86105 !important">Forgot Password?</a>
                </div>
                <div>
                    <button class="btn btn-login">Login</button>
                </div>
                <div class="mt-2 mb-3">
                    <p>Don't have an account? <a routerLink="../register" style="color:#E86105 !important;">Sign up</a></p>
                </div>
            </form>
        </div>
        <div class="d-none d-md-block col-md-1"></div>
        <div class="col-md-3 mt-4" style="text-align: center">
            <div class="d-flex justify-content-center mt-3">
                <div style="background-color:white; white-space:nowrap;" class="p-2 shadow-lg">
                    <img src="../../../assets/2993685_brand_brands_google_logo_logos_icon 1.svg" style="vertical-align:middle" width="20px">
                    <span class="ms-2">Login with Google</span>
                </div>
            </div>
            <div class="d-flex justify-content-center mt-3">
                <div style="background-color:white; white-space:nowrap;" class="p-2 shadow-lg">
                    <img src="../../../assets/4202107_facebook_fb_logo_social_social media_icon 1.svg" style="vertical-align:middle" width="20px">
                    <span class="ms-2">Login with Facebook</span>
                </div>
            </div>
            <div class="d-flex justify-content-center mt-3">
                <div style="background-color:white; white-space:nowrap;" class="p-2 shadow-lg">
                    <img src="../../../assets/317720_social media_tweet_twitter_social_icon 1.svg" style="vertical-align:middle" width="20px">
                    <span class="ms-2">Login with Twitter</span>
                </div>
            </div>
        </div>
    </div>
</div>