.example-container .mat-form-field+.mat-form-field {
    margin-left: 8px;
}

.example-right-align {
    text-align: right;
}

input.example-right-align::-webkit-outer-spin-button,
input.example-right-align::-webkit-inner-spin-button {
    display: none;
}

input.example-right-align {
    -moz-appearance: textfield;
}

.mat-form-field {
    width: 100%
}

p {
    margin: 0;
    padding: 0;
}

.row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
}

.row>[class*='col-'] {
    display: flex;
    flex-direction: column;
}

.social-login-cards {
    cursor: pointer;
    font-size: .9rem;
    font-weight: 500;
}

.social-login-cards:hover {
    animation: pulse;
    animation-duration: .7s
}

.login-link {
    color: #e86105;
    text-decoration: underline;
    cursor: pointer;
}

.login-link:hover {
    color: #2b2a38;
}