p {
    margin: 0;
    padding: 0;
}

.row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
}

.row>[class*='col-'] {
    display: flex;
    flex-direction: column;
}

.social-login-cards {
    cursor: pointer;
    font-size: .9rem;
    font-weight: 500;
}

.social-login-cards:hover {
    animation: pulse;
    animation-duration: .7s
}

.long mat-form-field {
    width: 100%
}

@media (min-width: 992px) {
    .names {
        display: flex;
        justify-content: space-between
    }
}

@media only screen and (min-width:572px) and (max-width: 767px) {
    .names {
        display: flex;
        justify-content: space-between
    }
}

@media (max-width:572px) {
    .names mat-form-field {
        width: 100%
    }
}

@media (min-width:768px) and (max-width:991px) {
    .names mat-form-field {
        width: 100%
    }
}