input {
  background-color: #2b2a383a;
}

.btn-register {
  color: #fff;
  background-color: #e86105;
  border-color: #e86105;
  letter-spacing: 0.05em;
  border-radius: 0;
  width: 100%;
}

.btn-register:hover,
.btn-register:active,
.btn-register:focus {
  background-color: #c7611d;
  border-color: #c7611d;
}

.small-font {
  font-size: 2vmin;
}

#registration_means {
  display: flex;
  flex-direction: column;
}

#registration_means > button {
  margin-bottom: 20px;
}

#registration_means > button:hover {
  transform: scale(1.3);
}
