<div class="row">
    <div class="col-md-6">
        <form style="background-color:white" class="p-3">
            <div class="mt-2 row g-2">
                <div class="col-6">
                    <input type="text" class="form-control rounded-0" placeholder="First Name">

                </div>
                <div class="col-6">
                    <input type="text" class="form-control rounded-0" placeholder="Last Name">
                </div>
            </div>
            <div class="mt-2 row g-3">
                <div class="col-12">
                    <input type="email" class="form-control rounded-0" placeholder="Email">
                </div>
                <div class="col-12">
                    <input type="password" class="form-control rounded-0" placeholder="Type New Password">
                </div>
                <div class="col-12">
                    <input type="password" class="form-control rounded-0" placeholder="Re-enter Password">
                </div>
            </div>
            <div class="mt-2 form-check">
                <input class="form-check-input" id="acceptterms" type="checkbox">
                <label class="form-check-label" for="acceptterms">I agree to all <a style="color:#E86105 !important">terms and conditions</a></label>
            </div>
            <div class="mt-2">
                <button routerLink="../success" class="btn btn-register">Sign Up</button>
            </div>
            <div class="mt-2" style="width:100%;text-align:center">
                <small>Already have an account? <a routerLink="../../login" style="color:#E86105 !important">Log in</a></small>
            </div>
        </form>
    </div>
    <div class="col-md-6 d-flex justify-content-center mt-3">
        <div id="registration_means">
            <button class="rounded-0 btn shadow" style="background-color:white;" routerLink="form"><span class="badge"><img src="../../../assets/2993685_brand_brands_google_logo_logos_icon 1.svg" width="20px"></span>Sign up with Google</button>
            <button class="rounded-0 btn shadow" style="background-color:white;" routerLink="form"><span class="badge"><img src="../../../assets/4202107_facebook_fb_logo_social_social media_icon 1.svg" width="20px"></span>Sign up with Facebook</button>
            <button class="rounded-0 btn shadow" style="background-color:white;" routerLink="form"><span class="badge"><img src="../../../assets/317720_social media_tweet_twitter_social_icon 1.svg" width="20px"></span>Sign up with twitter</button>
        </div>
    </div>
</div>