<div class="">
    <div class="row">
        <div class="col-md-7">
            <div class="mt-2 mb-2 m-md-0">
                <p style="font-size:1.2rem;font-weight:400">Create your <span style="color:#e86105">Shops Galore</span> account</p>
            </div>
            <div style="background:white" class="pt-4 p-3 pb-4 text-center">
                <form [formGroup]="registrationForm">
                    <div class="names">
                        <mat-form-field appearance="fill">
                            <mat-label>First Name</mat-label>
                            <input formControlName="first_name" matInput type="text" class="example-right-align">
                            <span matPrefix><mat-icon style="color:#e86105 ">person</mat-icon></span>
                        </mat-form-field>
                        <mat-form-field appearance="fill">
                            <mat-label>Last Name</mat-label>
                            <input formControlName="last_name" matInput type="texemailt" class="example-right-align">
                            <span matPrefix><mat-icon style="color:#e86105 ">person</mat-icon></span>
                        </mat-form-field>
                    </div>
                    <div class="email long">
                        <mat-form-field appearance="fill">
                            <mat-label>Email</mat-label>
                            <input formControlName="email" matInput type="email" class="example-right-align">
                            <span matPrefix><mat-icon style="color:#e86105 ">email</mat-icon></span>
                        </mat-form-field>
                    </div>
                    <div class="password-1 long">
                        <mat-form-field appearance="fill">
                            <mat-label>Type new password</mat-label>
                            <input formControlName="password" matInput [type]="firstPasswordHide ? 'password' : 'text'" class="example-right-align">
                            <span matPrefix><mat-icon style="color:#e86105">lock</mat-icon></span>
                            <button mat-icon-button matSuffix (click)="firstPasswordHide=!firstPasswordHide" [attr.aria-label]=" 'Hide password' " [attr.aria-pressed]="firstPasswordHide">
                            <mat-icon>{{firstPasswordHide ? 'visibility_off' : 'visibility'}}</mat-icon>
                            </button>
                        </mat-form-field>
                    </div>
                    <div class="password-2 long">
                        <mat-form-field appearance="fill">
                            <mat-label>Re-enter password</mat-label>
                            <input matInput [type]="secondPasswordHide ? 'password' : 'text'" class="example-right-align">
                            <span matPrefix><mat-icon style="color:#e86105">lock</mat-icon></span>
                            <button mat-icon-button matSuffix (click)="secondPasswordHide=!secondPasswordHide" [attr.aria-label]=" 'Hide password' " [attr.aria-pressed]="secondPasswordHide">
                            <mat-icon>{{secondPasswordHide ? 'visibility_off' : 'visibility'}}</mat-icon>
                            </button>
                        </mat-form-field>
                    </div>
                    <div style="text-align:left">
                        <mat-checkbox>I agree to all <span style="color:#e86105">Terms and Conditions</span></mat-checkbox>
                    </div>
                    <div class="mt-2">
                        <button mat-raised-button style="background-color:#e86105;color:white;width:100%" type="button" (click)="submitForm()" [disabled]="!registrationForm.valid">SIGN UP</button>
                    </div>
                    <div class="mt-2">
                        <p>Already have an account? <a style="color:#e86105 !important" routerLink="../login">Login</a></p>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-md-5 d-flex align-items-center justify-content-center">
            <div class="p-2">
                <div style="background-color:white" class="rounded-1 social-login-cards shadow p-2 d-flex mt-3">
                    <div>
                        <img src="../../../assets/2993685_brand_brands_google_logo_logos_icon 1.svg" alt="google icon">
                    </div>
                    <div class="ms-2">
                        <p>Sign Up with Google</p>
                    </div>
                </div>
                <div style="background-color:white" class="rounded-1 social-login-cards shadow p-2 d-flex mt-3">
                    <div>
                        <img src="../../../assets/317720_social media_tweet_twitter_social_icon 1.svg" alt="google icon">
                    </div>
                    <div class="ms-2">
                        <p>Sign Up with Twitter</p>
                    </div>
                </div>
                <div style="background-color:white" class="rounded-1 social-login-cards shadow p-2 d-flex mt-3">
                    <div>
                        <img src="../../../assets/4202107_facebook_fb_logo_social_social media_icon 1.svg" alt="google icon">
                    </div>
                    <div class="ms-2">
                        <p>Sign Up with Facebook</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>