mat-toolbar {
    background-color: none;
    height: 60px;
}

mat-sidenav {
    width: 200px;
    background: #2B2A38;
    color: #E86105;
    border-radius: 0;
    text-align: center
}

mat-sidenav-container {
    background: none;
    height: calc(100vh - 60px)
}

.content {
    display: flex;
    height: fit-content;
    justify-content: center;
    padding-top: 10px;
    overflow-y: scroll;
}

.content::-webkit-scrollbar {
    display: none;
}

.content {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}