.featured {
  margin: 2rem 0;
  color: #2b2a36;
}

h4 {
  font-size: xx-large;
  font-weight: 600;
  margin: 2rem 0;
}

h5 {
  margin: 0;
}

p {
  color: rgba(43, 42, 56, 0.7);
  margin: 0;
}

.discount {
  text-decoration: line-through;
}
