<div>
    <div class="row pt-3">
        <div *ngFor="let means of registeredMeans" class="col-xl-2 col-sm-4 col-6 mb-3">
            <div class="means-cover">
                <div class="means-image">
                    <img *ngIf="means.image" src={{means.image}} alt="image" width="100%">
                    <img *ngIf="!means.image" src="../../../../../assets/image.webp" alt="image" width="100%">
                </div>
                <div class="p-1 means-details">
                    <div>
                        <p>{{means.means.name}}</p>
                    </div>
                    <div>
                        <small>Last order 12/21/1212</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>