p {
    margin: 0;
    padding: 0;
}

.means-details {
    background: #ffffff;
}

.means-details p {
    font-size: 1rem;
    color: rgba(43, 42, 56, 1)
}

.means-details small {
    font-size: .8rem;
    font-weight: 600px;
    color: rgba(43, 42, 56, 1)
}

.means-cover {
    border: 2px solid rgba(43, 42, 56, 0.15);
    box-sizing: border-box;
    border-radius: 5px;
    cursor: pointer;
}

.means-image>img {
    border-radius: 5px 5px 0px 0px;
    height: 125px;
    object-fit: cover;
}

.row {
    grid-auto-flow: column;
}