<div>
    <div class="row">
        <div class="col-md-3 col-6">
            <div class="means-cover">
                <div class="means-image">
                    <img src="../../../../../assets/andrew-pons-cLHPacdtpSY-unsplash.jpg" alt="image" width="100%">
                </div>
                <div class="p-1 means-details">
                    <div>
                        <p style="font-size:1.8rem;font-weight:600px;color:rgba(43, 42, 56, 1)">Truck</p>
                    </div>
                    <div>
                        <small style="color:rgba(43, 42, 56, 1)">Last order 12/21/1212</small>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 new-means col-6 d-flex justify-content-center align-items-center">
            <div>
                <button mat-icon-button aria-label="Example icon button with a open in new tab icon">
                    <mat-icon class="custom-mat-icon-means">add</mat-icon>
                  </button>
            </div>
        </div>
    </div>
</div>