<mat-stepper style="width:80vw;min-height:85vh" class="main" [linear]="true" [orientation]="(stepperOrientation | async)!" #stepper>
    <mat-step>
        <div class="d-flex justify-content-center">
            <form>
                <ng-template matStepLabel>Select whether your product has variations or not</ng-template>
                <mat-button-toggle-group name="hasVariations" aria-label="Variations">
                    <mat-button-toggle>Has Variations</mat-button-toggle>
                    <mat-button-toggle>Has No Variations</mat-button-toggle>
                </mat-button-toggle-group>
                <div class="mt-2">
                    <button mat-raised-button matStepperNext>Next</button>
                </div>
            </form>
        </div>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup" label="Fill out your address">
        <div class="d-flex justify-content-center">
            <form [formGroup]="secondFormGroup" style="display: flex;flex-direction:column;align-items:flex-start;">
                <mat-form-field appearance="legacy">
                    <mat-label>Name</mat-label>
                    <input matInput formControlName="name" placeholder="Ex. Leather Jacket" required>
                </mat-form-field>
                <mat-form-field appearance="legacy">
                    <mat-label>Description</mat-label>
                    <textarea placeholder="Product description" formControlName="description" matInput required></textarea>
                </mat-form-field>
                <mat-form-field appearance="legacy">
                    <mat-label>Brand</mat-label>
                    <mat-select formControlName="brand">
                        <mat-option>Brand 1</mat-option>
                        <mat-option>Brand 2</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field appearance="legacy">
                    <mat-label>Type</mat-label>
                    <mat-select formControlName="type">
                        <mat-option>Type 1</mat-option>
                        <mat-option>Type 2</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field appearance="legacy">
                    <mat-label>Category</mat-label>
                    <mat-select>
                        <mat-option>Category 1</mat-option>
                        <mat-option>Category 2</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field appearance="legacy">
                    <mat-label>Specific Category</mat-label>
                    <mat-select formControlName="category">
                        <mat-option value="women-clothing">Spec Category 1</mat-option>
                        <mat-option value="men-clothing">Spec Category 2</mat-option>
                    </mat-select>
                </mat-form-field>
                <div>
                    <button mat-button matStepperPrevious>Back</button>
                    <button mat-button matStepperNext>Next</button>
                </div>
                <p>Form Status: {{ secondFormGroup.status }}</p>
            </form>
        </div>
    </mat-step>
    <mat-step>
        <ng-template matStepLabel>Done</ng-template>
        <p>You are now done.</p>
        <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button (click)="stepper.reset()">Reset</button>
        </div>
    </mat-step>
</mat-stepper>