<mat-stepper style="min-height:85vh" class="main" [linear]="isLinear" [orientation]="(stepperOrientation | async)!" #stepper>
    <mat-step>
        <app-variation-choice (variationChoice)="checkVariation($event)"></app-variation-choice>
    </mat-step>
    <mat-step label="Enter Product Details" *ngIf="hasVariations">
        <app-has-variation-form (productSubmission)="productSubmission($event)"></app-has-variation-form>
    </mat-step>
    <mat-step label="Without Variations" *ngIf="!hasVariations">
        <app-no-variation-form (productSubmission)="productSubmission($event)"></app-no-variation-form>
    </mat-step>
    <mat-step label="Complete">
        <app-success (productCreation)="submitProduct()"></app-success>
    </mat-step>
</mat-stepper>