<mat-stepper style="width:80vw;min-height:85vh" [linear]="isLinear" [orientation]="(stepperOrientation | async)!" #stepper>
    <mat-step>
        <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
            <mat-button-toggle value="bold">Has Variations</mat-button-toggle>
            <mat-button-toggle value="italic">Has No Variations</mat-button-toggle>
        </mat-button-toggle-group>
    </mat-step>
    <mat-step label="Enter Product Details">
        <form class="d-flex flex-column">
            <mat-form-field appearance="outline">
                <mat-label>Name</mat-label>
                <input matInput placeholder="Ex. Leather Jacket" required>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Description</mat-label>
                <input matInput required>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Brand</mat-label>
                <mat-select>
                    <mat-option value="hello">Hello</mat-option>
                    <mat-option value="hello">World</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Category</mat-label>
                <mat-select>
                    <mat-option value="Category1">Category1</mat-option>
                    <mat-option value="Category2">Category2</mat-option>
                </mat-select>
            </mat-form-field>

            <div>
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button matStepperNext>Next</button>
            </div>
        </form>
    </mat-step>
    <mat-step label="Enter Product Details">
        <form>
            <mat-form-field appearance="fill">
                <mat-label>Name</mat-label>
                <input matInput placeholder="Ex. 1 Main St, New York, NY" required>
            </mat-form-field>
            <div>
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button matStepperNext>Next</button>
            </div>
        </form>
    </mat-step>
    <mat-step>
        <ng-template matStepLabel>Done</ng-template>
        <p>You are now done.</p>
        <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button (click)="stepper.reset()">Reset</button>
        </div>
    </mat-step>
</mat-stepper>