<div>
    <div>
        <img src={{highlighted.src}} class="rounded-1 img-fluid" alt="">
    </div>
    <div class="m-1">
        <owl-carousel-o [options]="customOptions">
            <ng-container *ngFor="let image of images; let i = index">
                <ng-template carouselSlide>
                    <div *ngIf="highlighted != image" style="max-height:100px;max-width:100px;cursor:pointer" class="sample-image" (click)="makeHighlited(i)">
                        <img src={{image.src}} class="rounded-1 img-fluid" alt="...">
                    </div>
                    <div *ngIf="highlighted == image" style="max-height:100px;max-width:100px;cursor:pointer;border:2px solid #e86105" class="sample-image" (click)="makeHighlited(i)">
                        <img src={{image.src}} class="rounded-1 img-fluid" alt="...">
                    </div>
                </ng-template>
            </ng-container>
        </owl-carousel-o>
    </div>
</div>