<div class="container-fluid" style="display:flex;align-items:center;justify-content:space-between">
    <div>
        <img src="../../../assets/Group 2 1.svg" style="width:7em" alt="shops galore logo">
    </div>
    <div class="d-none d-md-block">
        <a class="nav-link dropdown-toggle d-flex align-items-center" style="height:100%" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <mat-icon [ngStyle]="{'color':'#E86105'}">person</mat-icon><span class="ms-2" style="font-size:smaller">{{user.first_name + " " + user.last_name}}</span>
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Settings</a></li>
            <li><a class="dropdown-item" *ngIf="isAuthenticated" (click)="logout()">Log Out</a></li>
        </ul>
    </div>
</div>