<div style="margin-top:2em">
    <button mat-button class="menu-button" routerLink="."><mat-icon>dashboard</mat-icon><span>Dashboard</span></button>
    <button mat-button class="menu-button" routerLink="incoming"><mat-icon>notifications</mat-icon><span>Incoming</span></button>
    <button mat-button class="menu-button" routerLink="outgoing"><mat-icon>motorcycle</mat-icon><span>Outgoing</span></button>
    <button mat-button class="menu-button" routerLink="daily-orders"><mat-icon>shop</mat-icon><span>Daily Orders</span></button>
    <mat-divider></mat-divider>
    <button mat-button class="menu-button"><mat-icon>settings</mat-icon><span>Settings</span></button>
</div>